body{
    font-family: 'Montserrat';
}


#title{
    background-color: #ff4c68;
    color: white; 
}

/* Navbar*/

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px 0 18px;
}

.nav-link{
    font-family:'Montserrat-light', sans-serif;
    font-size: 1.2rem;
}

/*Download Buttons*/

.btn{
    margin: 10% 5% 10% 0;
}

/*Title Image*/



h1{
    font-family:'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h3{

    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.5;
}
p{
    color: gray;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.button{
    font-family: 'Montserrat', sans-serif;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    margin-left: 20%;
    position: absolute;
    right: 30%;
}

/*Features*/

#features{
    padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box{
    text-align: center;
    padding: 4%;

}

.fa-solid{
    color: #FFB4B4;
    margin-bottom: 1rem;
}

.fa-solid:hover{
    color: #ff4c68;
}

/*Testimonials*/

#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: honeydew;
}

.carousel-item{
    padding: 5% 17%;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin:20px
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
    
}

.card.body{
    width: 50px;
}

/*Pricing*/

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

@media(max-width:1028px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: white;
}

.cta-heading{
    font-family: 'Montserrat-black' ,sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}

#footer{
    text-align: center;
    padding: 7% 15%;
}

.social{
    margin: 20px 10px;
}
